body{
    margin: 0;
}
.mouse_parallax_content{
    font-size: 150px;
    color: #eaeef3;
    text-shadow: 4px 4px 6px #000;
}

.mouse-parallax{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.mouse_parallax_bg{
    position: absolute;
    z-index: -1;
    width: 110%;
    height: 110%;
    background-image: url(1.jpg);
    background-position: center center;
    background-size: cover;
}